<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png"
        href="https://ih0.redbubble.net/image.538017294.0117/poster,840x830,f8f8f8-pad,1000x1000,f8f8f8.u2.jpg" />
    <link href="/style.css" type="text/css" rel="stylesheet">
    <title>BigFoot petition!</title>
</head>

<body>
    {{{body}}}
    <footer>© 2019 FAKE NEWS petition 🌶</footer>
</body>

</html>