<section class="wrapper">
    <a class="wrapper_logout" href="./logout">Log out!</a>
    <img src="./bigfoot.png" alt="bigfoot img" />
    <p>Dear <i>{{firstName}}</i>, thank you for signing Big Foot petition! 🕺</p>

    <img class="signature__img" src="{{idImg}}" alt="sign img" />
    <a href="/signers">
        <p class="wrapper_thanks_paragrpah">See all <i>{{numberOfSigners}}</i> signers</p>
    </a>
    <a href="/edit">
        <p class="wrapper_thanks_paragrpah">Edit your profile</p>
    </a>
    <img id="animGif" src="/bigfoot-.gif" alt="gif" />
    <a href="/delete">
        <p class="wrapper_thanks_paragrpah">Delete your signature!</p>
    </a>
</section>